body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 20px;
    padding-top: 100px;
}
#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffb431;
}
#stopwatch{
    width: 20%;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid #d65246;
    border-radius: 50px;
    padding: 40px 50px ;
    background-color: #bfe2ff3a;
}
#display{
    font-size: 5vh;
    font-family: monospace;
    font-weight: bold;
    color: #ffb431;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%,0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px ;
    min-width: 125px;
    border: none;
    border-radius:10px ;
    cursor: pointer;
    color: white;
    transition: backgroud-color 0.5s ease;
}
#startBtn{
    background-color: hsla(120, 100%, 40%, 0.788);

}
#startBtn:hover{
    background-color: rgba(0, 128, 0, 0.788);
}
#stopBtn{
    background-color: hsla(10,90%,50%);
}
#stopBtn:hover{
    background-color: rgb(167, 1, 1);
}
#resetBtn{
    background-color: hsl(199, 87%, 56%);

}
#resetBtn:hover{
    background-color: hsla(199, 87%, 56%, 0.616);
}
